<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.tong.comment.model.dao.CommentDao">
	<!-- 전체 조회 -->
	<select id="selectComment" resultType="Comment" parameterType="int">
		SELECT 
		    c.comment_id,
		    c.board_id,
		    c.commenter,
		    c.content,
		    c.reg_date,
		    c.parent_comment_id,
		    u.user_type
		FROM comment c
		JOIN user u ON c.commenter = u.user_id
		WHERE c.board_id = #{boardId}
		ORDER BY 
		    CASE WHEN c.parent_comment_id IS NULL THEN c.comment_id ELSE c.parent_comment_id END,
		    c.comment_id;
	</select>

	<!-- 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE 
		  FROM comment
		 WHERE comment_id = #{commentId};   
	</delete>
	
	<!-- 등록 -->
	<insert id="insertComment" parameterType="Comment">
		INSERT INTO comment(
			board_id, commenter, content, reg_date, parent_comment_id 
		) VALUES (
			#{boardId}, #{commenter}, #{content}, now(),  #{parentCommentId}
		);
	</insert>
</mapper>