<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.tong.expert.model.dao.ExpertDao">
	
	<!-- 전체 조회 : ExpertList(user + expert 조인) -->
	<select id="selectExpertList" resultType="ExpertList">
		SELECT e.expert_id, e.user_id, u.name, e.address, e.grade, u.userProfileImgPath
		FROM expert e
		JOIN user u ON e.user_id = u.user_id
	</select>

	
	<!-- 상세 조회 -->
	<!-- 기본 정보 조회 -->
	<select id="selectExpertByPK" resultType="Expert" parameterType="int">
		SELECT expert_id, user_id, addressZipcode, address, addressDetail, introduction, price, price_detail, grade, total_score, total_score_cnt, company_name
		  FROM expert
		 WHERE expert_id = #{expertId};
	</select>
	<!-- 커리어 정보 조회 -->
	<select id="selectExpertCareerByPk" resultType="ExpertCareer" parameterType="int">
		SELECT expert_career_id, expert_id, career_detail, start_date, end_date
		  FROM expert_career
		 WHERE expert_id = #{expertId};
	</select>
	<!-- 이미지 정보 조회 -->
	<select id="selectExpertImageByPk" resultType="ExpertImage" parameterType="int">
		SELECT file_id, expert_id, file_path, ori_name, system_name, extension
		  FROM expert_image
		 WHERE expert_id = #{expertId};
	</select>
	

	<!-- 삭제 -->
	<delete id="deleteExpert" parameterType="int">
		DELETE 
		  FROM expert
		 WHERE expert_id = #{expertId};   
	</delete>
	
	<!-- 등록 -->
	<insert id="insertExport" parameterType="Expert" useGeneratedKeys="true" keyProperty="expertId">
		INSERT INTO expert(
			user_id, addressZipcode, address, addressDetail, introduction, price, price_detail, grade, company_name
		) VALUES (
			#{userId}, #{addressZipcode},#{address}, #{addressDetail}, #{introduction}, #{price}, #{priceDetail}, #{grade}, #{companyName}
		);
	</insert>
	
	<!-- 파일 업로드 -->
	<insert id="insertExportImage" parameterType="ExpertImage">
		INSERT INTO expert_image(
			expert_id, file_path, ori_name, system_name, extension
		) VALUES (
			#{expertId}, #{filePath}, #{oriName}, #{systemName}, #{extension}			
		);
	</insert>
	
	<!-- 경력 업로드  -->
	<insert id="insertExportCareer" parameterType="ExpertCareer">
		INSERT INTO expert_career(
			expert_id, career_detail, start_date, end_date
		) VALUES (
			#{expertId}, #{careerDetail}, #{startDate}, #{endDate}			
		);
	</insert>	
	
	<!-- 수정 -->
	<update id="updateExpert" parameterType="Expert">
		UPDATE expert
		   SET location = #{location} , introduction = #{introduction}, price = #{price}, price_detail = #{priceDetail}, 
		   	   grade = #{grade}, company_name = #{companyName}, latitude = #{latitude}, longitude = #{longitude}
		 WHERE expert_id = #{expertId};
	</update>
	
	<select id="selectUserIdByExpertId" parameterType="int" resultType="string">
	    SELECT user_id
	    FROM expert
	    WHERE expert_id = #{expertId}
	</select>

	
	<!-- 전체 조회(사용X) -->
	<select id="selectExpert" resultType="Expert">
		SELECT expert_id, user_id, addressZipcode, address, addressDetail, introduction, price, price_detail, grade, total_score, total_score_cnt, company_name
		  FROM expert;
	</select>
</mapper>