<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tong.user.model.dao.UserDao">
	<!-- 회원 가입 -->
	<insert id="signUp" parameterType="User">
		INSERT INTO `user` (
		`user_id`,
		`user_type`,
		`password`,
		`name`,
		`email`,
		`phone`,
		`birthdate`,
		`addressZipcode`,
		`address`,
		`addressDetail`,
		`updated_password`,
		`is_kakao_member`,
		`userProfileImgPath`
		)
		VALUES (
		#{userId},
		#{userType},
		#{password},
		#{name},
		#{email},
		#{phone},
		#{birthdate},
		#{addressZipcode},
		#{address},
		#{addressDetail},
		now(),
		#{isKakaoMember},
		#{userProfileImgPath}
		);
	</insert>



	<!-- 로그인 -->
	<select id="signIn" parameterType="string" resultType="User">
		SELECT
		user_id AS userId,
		user_type AS userType,
		password,
		name,
		email,
		phone,
		birthdate,
		addressZipcode,
		address,
		addressDetail,
		updated_password AS updatedPassword,
		is_kakao_member
		AS isKakaoMember,
		userProfileImgPath
		FROM
		`user`
		WHERE user_id = #{userId}
	</select>


	<!-- 비밀번호 번경 -->
	<update id="updatePassword" parameterType="User" >
		UPDATE user
		SET
		password = #{password},
		updated_password = NOW()
		WHERE
		user_id = #{userId};
	</update> 
	
	
	<!-- 사용자 정보 조회 -->
	<select id="findByUserId" parameterType="String" resultType="User">
	    SELECT 
	        user_id as userId,
	        user_type as userType,
	        password,
	        name,
	        email,
	        phone,
	        birthdate,
	        address,
	        updated_password as updatedPassword,
	        is_kakao_member as isKakaoMember,
	        user_profile_img_path as userProfileImgPath
	    FROM user
	    WHERE user_id = #{userId}
	</select>
	
	
	<select id="getProfileImageByUserId" parameterType="String" resultType="String">
	    SELECT userProfileImgPath 
	    FROM `user` 
	    WHERE user_id = #{userId}
	</select>
		
	<!-- 전문가 등록시, 첫 번째 이미지의 system_name을 사용자 프로필 이미지로 설정 -->
	<update id="updateUserProfileImage" parameterType="User">
	    UPDATE user
	    SET userProfileImgPath = #{userProfileImgPath}
	    WHERE user_id = #{userId}
	</update>
</mapper>